<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user%></title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1>hello</h1>
    <h1 class="text-danger"><%=user%></h1>
    <h1><%=ar%></h1>
    <div>
        <% ar.map((item,index)=>{ %>
            <%=item%>
            <br>
        <%})%>
    </div>
    <div>
        <% if(20<=10){ %>
           <h1 class="text-danger"><%= true %></h1>
       <% } else{ %>
       <h1 class="text-info"><%= false %></h1>
       <% } %>
    </div>

    <form action="/" method="post">
        <input type="text" name="named" placeholder="name">
    </form>

    <% person.map((item,index)=>{ %>
        <ul>
            <li><%= item %></li>
        </ul>
    <%})%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>